
body {
	background: #5D5D5D;
}
.login-form {
	border-radius: 10px;
	background: #eee;
	padding: 70px;
}

#acessar {
	margin-top: 10px;
}

#login-h1 {
	margin-top: 10px;
	margin-bottom: 90px;
	font-weight: bold;
}

#login-div {
	width: 50%;
	margin-top: 10%;

	margin-right: auto;
	margin-left: auto;
}

label {
	font-size: 18px;
}